.item-create {
    width: 600px;
    margin: 40px auto;
}

.item-create__title {
    margin-bottom: 30px;
    text-align: center;
}

/* 見出し */
.form__section-title {
    margin-top: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid #5f5f5f;
    color: #5f5f5f;
}

/* 各項目 */
.form__label {
    margin: 30px 0 0 0;
    font-weight: bold;
}

/* 商品画像 */
.form__image-frame {
    border: 2px dashed #ccc;
        padding: 40px 0;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
}

.form__image-preview {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
    display: block;
}

.form__image-button {
    display: inline-block;
    padding: 5px 20px;
    color: #ff5555;
    border: 2px solid #ff5555;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.form__image-input {
    display: none;
}

/* カテゴリー（丸タグ） */
.form__tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 15px;
}

.form__tag-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form__tag-item input {
    display: none;
}

.form__tag-item span {
    padding: 5px 15px;
    border: 1px solid #ff5555;
    border-radius: 20px;
    font-size: 13px;
    color: #ff5555;
}

.form__tag-item input:checked+span {
    background: #ff5555;
    color: #fff;
    border-color: #ff5555;
}

/* 商品状態 */
.form__select {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* テキスト入力 */
.form__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

.form__textarea--inputlike {
    width: 100%;
    min-height: 100px;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    resize: none;
    line-height: 1.5;
}

/* 価格 */
/* ¥ を表示する wrapper */
.form__price-wrapper {
    position: relative;
}

/* ¥ の表示 */
.form__price-wrapper::before {
    content: "¥";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

/* input に左余白を追加 */
.form__price-wrapper .form__input {
    padding-left: 28px;
}

/* ボタン */
.form__button {
    margin-top: 80px;
}

.form__button-submit {
    width: 100%;
    padding: 12px 0;
    background: #ff5555;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
