# Node
/node_modules

# Laravel
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# Composer
/src/vendor/
/src/.composer/

# Environment
.env
.env.backup

# PHPUnit
.phpunit.result.cache

# Docker
docker/mysql/data/

# IDE
/.idea
/.vscode

# Misc
npm-debug.log
yarn-error.log

# Homestead (not used)
Homestead.json
Homestead.yaml
